.todo-content {
  overflow-y: auto;
  max-height: 340px;
  .done {
    text-decoration: line-through;
    color: #b3c99c !important;
  }
}

// scroll

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #90a17d;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #90a17d;
}
